@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-mainbkgcolor: 240deg 3% 8%;
    --color-bkgcolor: 210deg 3% 12%;
    --color-txtcolor: 215deg 28% 91%;
  }
  }

  [data-theme="dark"] {
    --color-mainbkgcolor: 240deg 3% 8%;
    --color-bkgcolor: 210deg 3% 12%;
    --color-txtcolor: 30deg 100% 100%;
  }
  [data-theme="light"] {
    --color-bkgcolor: 30deg 100% 100%;
    --color-mainbkgcolor: 216deg 40% 94%;
    --color-txtcolor: 210deg 3% 12%;
  }

  .todoItem {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 20px;
  }
  
  .todoItem p {
    flex: 1;
  }
  
  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .actionsContainer button {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .actionsContainer button:hover {
    opacity: 0.7;
  }
  