@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    --color-bkgcolor: 218deg 100% 92%;
    --color-mainbkgcolor: 223deg 30% 53%;
    --color-txtcolor: 210deg 3% 12%;
    --color-buttonnaccent: 82deg 99% 70%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mainbkgcolor: 221deg 26% 6%;
    --color-bkgcolor: 223deg 26% 10%;
    --color-txtcolor: 215deg 28% 91%;
    --color-buttonnaccent: 82deg 99% 70%;
  }
}
  [data-theme="dark"] {
    --color-mainbkgcolor: 221deg 26% 6%;
    --color-bkgcolor: 223deg 26% 10%;
    --color-txtcolor: 30deg 100% 100%;
    --color-buttonnaccent: 82deg 99% 70%;
  }
  [data-theme="light"] {
    --color-bkgcolor: 218deg 100% 92%;
    --color-mainbkgcolor: 223deg 30% 53%;
    --color-txtcolor: 210deg 3% 12%;
    --color-buttonnaccent: 82deg 99% 70%;
  }
  .todoItem {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 20px;
  }
  
  .todoItem p {
    flex: 1;
  }
  
  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  
  .actionsContainer button {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .actionsContainer button:hover {
    opacity: 0.7;
  }
  